<div class="img-container">
    <img src="images/me.jpeg" alt="Imagen de presentacion de Gian Luka">
</div>

<h2>Gian Luka Fernández</h2>
<h4><span>Desarrollador web</span></h4>
<p>
    Me considero una persona proactiva a la que le gusta resolver problemas.  
    Busco brindar  <span class="important">las mejores soluciones en el menor tiempo posible, 
    cuidando la calidad del código y la experiencia del usuario</span>.
</p>

<div class="buttons-container">
    <a target="_blank" href="https://github.com/gian282004" class="button">
      <github class="icon"></github>
      GitHub
    </a>
    <a target="_blank" href="https://www.linkedin.com/in/gian-luka-fernandez-45b212309/" class="button">
      <linkedin class="icon"></linkedin>
      Linkedin
    </a>
    <a href="assets/Resume.pdf" download class="button cv">✉ CV</a>
  </div>

