<h3>Educación</h3>
<ol class="list">
    <li class="list-item">
        <div>
            <h4>Curso Spring Boot 2024</h4>
            <h5>UTN</h5>
            <small>2024</small>
        </div>

        <p>
            Curso gratuito brindado por la Universidad Tecnológica Nacional (UTN), enfocado en el framework Spring Boot.
            Aprendí sobre  <span class="important">el patrón MVC, manejo de bases de datos utilizando Spring Data JPA, configuración de
            controladores,
            servicios y repositorios </span>, así como la integración con herramientas como Postman y MySQL.
        </p>

    </li>
    <li class="list-item">
        <div>
            <h4>Tecnico en programación</h4>
            <h5>UTN</h5>
            <small>2023-2024</small>
        </div>

        <p>
            Durante la cursada adquirí conocimientos en arquitectura de sistemas, lógica y paradigmas de programación y
            desarrollo con Java.
            En el área de front-end <span class="important"> trabajé con HTML, CSS y JavaScript, y también aprendí Angular y TypeScript </span> para el
            desarrollo de aplicaciones web modernas.
        </p>


    </li>
    <li class="list-item">
        <div>
            <h4>Escuela Secundaria</h4>
            <h5>Huinco Mons. Enrique Rau</h5>
            <small>2017-2022</small>
        </div>
        <p>
            Formación secundaria con orientación en Gestión y Administración de Empresas. Durante esta etapa también
            <span class="important">adquirí conocimientos en contabilidad, organización administrativa y fundamentos económicos,  desarrollando
            habilidades analíticas y de planificación</span>.
        </p>

    </li>
</ol>